@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
   background-color: black;
}

.container {
   background-image: url("../img/background.jpg");
   background-repeat: no-repeat;
   max-width: 100%;
   height: 100vh;
   position: relative;
}

/* ###### Nav menu ###### */

.menu {
   position: relative;
   height: 65px;
   background-color: rgba(0, 0, 0, 0.7);
   border-radius: 4px;
}

.menu .navbar-brand {
   position: absolute;
   color: red;
   top: 8px;
   left: 20px;
   font-size: 26px;
   font-weight: 500;
}

.menu ul {
   list-style: none;
   color: red;
   display: flex;
   flex-direction: row;
   position: absolute;
   right: 30px;
   top: 12px;
   font-size: 25px;
}

.menu ul li {
   padding: 0 20px;
}

.menu ul li a {
   text-decoration: none;
   color: red;
}

/* ###### Welcome section ###### */

.welcome {
   width: 100%;
   height: 650px;
   position: absolute;
   margin-top: 50px;
   padding-top: 100px;
   left: 50%;
   transform: translate(-50%);
   color: rgba(255, 0, 0, 0.9);
}

#welcome-text {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   width: 100%;
   border-radius: 4px;
   background-color: rgba(0, 0, 0, 0.5);
}

.welcome h1 {
   font-weight: bold;
}

.welcome p {
   font-size: 18px;
   font-style: italic;
}

/* ###### Gallery section ###### */

#gallery {
   width: fit-content;
   display: grid;
   position: absolute;
   grid-template-columns: repeat(3, 400px);
   grid-template-rows: repeat(4);
   gap: 20px;
   justify-content: center;
   top: 600px;
   left: 50%;
   transform: translate(-50%);
}

#gallery .card {
   margin: 0 auto;
   -webkit-box-shadow: 0px 0px 5px 4px rgba(255, 0, 0, 0.8);
   -moz-box-shadow: 0px 0px 5px 4px rgba(255, 0, 0, 0.8);
   box-shadow: 0px 0px 5px 4px rgba(255, 0, 0, 0.8);
   border-radius: 4px;
}

#gallery .card-body {
   background-color: rgb(107, 25, 25);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
}

#gallery .card-text {
   text-align: justify;
}

/* ###### Contact section ###### */

#contact {
   width: 100%;
   height: 400px;
   padding-top: 20px;
   position: absolute;
   left: 0;
   bottom: -1800px;
   background-color: rgb(154, 74, 74);
   display: flex;
   flex-direction: column;
   align-items: center;
   color: black;
}

#contact form {
   width: 500px;
}

#contact .form-row {
   padding: 10px;
}

#contact form input {
   background-color: transparent;
   border: 2px solid black;
   border-radius: 4px;
   color: white;
}

#contact form textarea {
   width: 100%;
   height: 100px;
   background-color: transparent;
   border: 2px solid black;
   border-radius: 4px;
   color: white;
}

footer {
   position: absolute;
   bottom: -1850px;
   left: 50%;
   transform: translate(-50%);
   color: white;
}
