* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: url("img/fifa_background.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
}

h1 {
   text-align: center;
   margin: 20px;
}

.container {
}

.row {
   justify-content: center;
   align-items: center;
}

img {
   background-color: white;
   width: 60px;
   height: 60px;
   cursor: pointer;
}

.result-container {
   display: flex;
   width: 750px;
   margin: 10px auto;
   padding: 15px;
   text-align: center;
   flex-direction: column;
   align-items: center;
}

#form {
   display: none;
}
