body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: black;
   color: white;
}

#color-RGB,
#color-HEX,
#color-name {
   font-size: 100px;
}

#color-mix-platform {
   position: fixed;
   top: 0px;
   left: 0px;
   border-width: 1px;
   border-style: solid;
   border-color: white;
   padding: 10px;
   border-bottom-right-radius: 50px;
}
