* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background: #000000;
   background: -webkit-linear-gradient(to right, #000000, #0f9b0f);
   background: linear-gradient(to right, #000000, #0f9b0f);
   color: white;
}

.navbar-brand {
   margin-left: 2rem;
}

.navbar-nav {
   display: flex;
   flex-direction: row;
   margin-right: 2rem;
}

.navbar-nav li {
   margin: 0 2rem;
}

.navbar-nav li button {
   width: fit-content;
   margin: 0;
}

.greetings {
   width: 50rem;
   height: 20rem;
   margin: 10rem auto;
   color: rgb(255, 255, 255);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-image: url("img/4leaf_bg.jpg");
   background-size: cover;
   border-radius: 10px;
}

.greetings h1 {
   font-size: 3rem;
   font-weight: bold;
   text-align: center;
}

.greetings p {
   font-size: 1.5rem;
}

.container {
   width: 100rem;
   height: 75vh;
   padding-top: 5rem;
   margin: auto;
}

.select-my-numbers {
   width: 100%;
   height: fit-content;
   padding: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.select-my-numbers #drawing {
   background-color: rgba(9, 73, 6, 0.6);
   border: none;
   width: auto;
   height: fit-content;
   margin: auto 0;
   font-size: 30px;
   transition: background-color ease 0.5s;
}

.select-my-numbers #drawing:disabled {
   background-color: rgb(87, 53, 53);
}

.select-my-numbers #drawing:hover {
   background-color: rgb(0, 170, 0);
}

.select-my-numbers .select-numbers {
   margin-right: 1rem;
   height: fit-content;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   border-radius: 10px;
}

.select-my-numbers .select-numbers h1 {
   padding-left: 0.5rem;
   margin: auto;
}

.select-my-numbers .select-numbers ul {
   width: 31rem;
   height: 25rem;
   margin: 2rem;
   padding: 0;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
}

.select-my-numbers .select-numbers ul li {
   list-style: none;
   width: 30px;
   margin: 0 0.5rem;
}

.select-my-numbers .select-numbers ul li button {
   width: 35px;
   height: 35px;
   margin: 0;
   font-size: 18px;
   border: none;
   background-color: rgb(60, 100, 60);
   border-radius: 10px;
   transition: background-color ease 0.5s;
   color: white;
}

.select-my-numbers .select-numbers ul li button:disabled,
.select-my-numbers .select-numbers ul li button:disabled:hover {
   background-color: rgb(87, 53, 53);
}

.select-my-numbers .select-numbers ul li button:hover {
   background-color: rgb(76, 175, 67);
}

.select-my-numbers .select-numbers ul li button.selected {
   background-color: rgb(0, 255, 0);
   color: black;
}

.select-my-numbers .ball-container {
   width: 40rem;
   margin: 1rem auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.select-my-numbers .ball-container .show-ball {
   width: 14rem;
   height: 10rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

.select-my-numbers .ball-container .show-ball span {
   font-size: 24px;
}

#ball-number-0,
#ball-number-1,
#ball-number-2,
#ball-number-3,
#ball-number-4,
#ball-number-5,
#ball-number-6 {
   width: fit-content;
   height: 2.5rem;
   font-size: 2rem;
   font-weight: bold;
   color: black;
   border-radius: 10px;
   position: absolute;
   top: 41%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.table-container table th {
   font-size: 22px;
   text-align: center;
   vertical-align: middle;
}

.table-container table td {
   font-size: 18px;
   text-align: center;
}

.table-container table td#lotto-num-cell {
   width: 60rem;
   text-align: justify;
}

.table-container table td#lotto-num-cell #lotto-num-stat #num {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
