* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.navbar-brand {
   margin-left: 2rem;
}

.navbar-nav {
   display: flex;
   flex-direction: row;
   margin-right: 2rem;
}

.navbar-nav li {
   margin: 0 2rem;
}

.navbar-nav li button {
   width: fit-content;
   margin: 0;
}

.container {
   width: 100rem;
   height: 75vh;
   padding-top: 5rem;
   margin: auto;
}

.select-my-numbers {
   width: 100%;
   height: fit-content;
   padding: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.select-my-numbers #drawing {
   width: auto;
   height: fit-content;
   margin: auto 0;
   font-size: 30px;
}

.select-my-numbers .select-numbers {
   height: fit-content;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

.select-my-numbers .select-numbers h1 {
   padding-left: 0.5rem;
   margin: auto;
}

.select-my-numbers .select-numbers ul {
   width: 31rem;
   height: 25rem;
   margin: 2rem;
   padding: 0;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
}

.select-my-numbers .select-numbers ul li {
   list-style: none;
   width: 30px;
   margin: 0 0.5rem;
}

.select-my-numbers .select-numbers ul li button {
   width: 35px;
   height: 35px;
   margin: 0;
   font-size: 18px;
   border: none;
   background-color: rgba(128, 128, 128, 0.15);
   border-radius: 10px;
   transition: background-color ease 0.5s;
}

.select-my-numbers .select-numbers ul li button:hover {
   background-color: rgba(128, 128, 128, 0.5);
}

.select-my-numbers .select-numbers ul li button.selected {
   background-color: rgba(222, 184, 135);
}

.select-my-numbers .ball-container {
   width: 40rem;
   margin: 1rem auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.select-my-numbers .ball-container .show-ball {
   width: 14rem;
   height: 10rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

.select-my-numbers .ball-container .show-ball span {
   font-size: 24px;
}

#ball-number-0,
#ball-number-1,
#ball-number-2,
#ball-number-3,
#ball-number-4,
#ball-number-5,
#ball-number-6 {
   width: fit-content;
   height: 2.5rem;
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}

.table-container table th {
   font-size: 22px;
   text-align: center;
   vertical-align: middle;
}

.table-container table td {
   font-size: 18px;
}

.table-container table td#lotto-num-cell {
   width: 60rem;
   text-align: justify;
}

.table-container table td#lotto-num-cell #lotto-num-stat #num {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
